:root {
  --orangeM:#ff7e00;
  --blueM:#2D5680;
  --weight1:200;
  --weight2:400;
  --weight3:600;
}

.gridContArriba {
  display: grid;
  grid-template-columns: 400px auto;
  padding: 5px;
}

.gridContAbajo {
  display: grid;
  grid-template-columns: 65% 35%;
  padding: 10px;
}

.gridContAuto {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.gridContMitad {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.gridContMitadPC {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}
.gridContMitadMovil {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

.gridContTres {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
}

.gridContCuatro {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10px;
}

.gridContCinco {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 8px;
}

.gridContCuatro2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10px;
}

.gridContCinco2 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 8px;
}

.gridContSeis {
  display: grid;
  grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  padding: 6px;
}

.gridContSiete {
  display: grid;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
  padding: 5px;
}

.griditemContA {
  padding: 5px;
  width: 95%;
}

.griditemContB{
  padding: 20px;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 10px;
}

.griditemContC{
  padding: 7px;
  width: 100%;
  padding-bottom: 0px;
  padding-top: 10px;
}

.textoJus p{
  text-align: justify;
}

/*---------- Grid para cartas horizontal ----------*/
.gridContCard {
  display: grid;
  grid-template-columns: auto auto;
}
.griditemCardA {
  padding: 5px;
  width: 95%;
}

.cardH {
  border-radius: 10px;
  overflow: hidden;
  width: 630px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cardH-preview {
  padding: 0px;
  width: 100%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cardH-info {
  padding: 10px;
  position: relative;
  width: 100%;
  background-color:#EDEFF0;
}

.cardHLargo {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 850px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.cardH-previewL {
  padding: 0px;
  width: 320px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cardHMedio {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 750px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.cardH-previewM {
  padding: 10px;
  width: 250px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cardH-infoL {
  padding: 10px;
  position: relative;
  width: 100%;
  background: #EDEFF0;
}

.cardHChico {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.cardH-previewC {
  padding: 0px;
  width: 150px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.cardH-infoC {
  padding: 10px;
  position: relative;
  width: 150px;
  background: #EDEFF0;
}

.gridoOcultarPC{
  display: none!important;
}

@media screen and (max-width: 1115px) {
  .gridoOcultarPC{
    display: block!important;
  }
  .gridoOcultarMB{
    display: none!important;
  }
  .gridContCuatro {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
}

@media screen and (min-width: 1116px) {
  .gridoOcultarMB{
    display: block!important;
  }
  .gridoOcultarPC{
    display: none!important;
  }
}
@media screen and (max-width: 800px) {
  .gridContCard {
    display: grid;
    grid-template-columns: auto;
  }
  .cardH {
    margin: 0px;
    width: 100%;
  }
  .cardH-info {
    padding: 10px;
  }

  .cardHLargo {
    width: 100%;
  }
  .cardHMedio {
    width: 100%;
  }
  .cardHChico {
    width: 100%;
  }
  .cardH-previewM {
    width: 100%;
  }
  .cardH-previewL {
    width: 100%;
  }
  .cardH-infoL {
    width: 100%;
  }
  .cardH-previewC {
    width: 100%;
  }
  .cardH-infoC {
    width: 100%;
  }
}


/*----------*/
@media screen and (min-width: 1600px) {
  .gridContMitadPC {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
  }

}
@media screen and (max-width: 800px) {
  .gridContArriba {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .griditemContA {
    padding: 5px;
    width: 100%;
  }

  .gridContAbajo {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .gridContAuto {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
  .gridContMitad {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .gridContMitadPC {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }

  .gridContTres {
    grid-template-columns: auto;
  }

  .gridContCuatro {
    grid-template-columns: auto;
  }
  
  .gridContCinco {
    grid-template-columns: auto;
  }

  .gridContCuatro2 {
    grid-template-columns: 50% 50%;
  }
  
  .gridContCinco2 {
    grid-template-columns: 50% 50%;
  }

  .gridContSeis {
    grid-template-columns: auto;
  }

  .gridContSiete {
    grid-template-columns: 50% 50%;
  }
  .divCentrado{
    width: 100%;
  }
  .divCentrado90{
    width: 100%;
  }
}

.divCentrado{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.divCentrado90{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.divCentradoCorto{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.ver-mas-contacto{
  padding: 5px 20px 5px 20px;
  border-color: #055DB0;
  border-radius: 5px;
  border-width: 2px;
  background-color: #086ECD;
  margin: 5px;
}

:root {
  --orange:#ff7e00;
  --blueS:#2D5680;
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

.attribution { 
  font-size: 14px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.h1Producto:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

.h1Producto:last-of-type {
  color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
  .h1Producto {
    font-size: 1.5rem;
  }
}

.headerPR {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.headerPR p {
  margin: 0 auto;
  line-height: 2;
}

.boxProducto {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 20px;
  margin: 20px;
  height: 550px; 
  width: 100%; 
  background-color: #F2F2F2; 
}

@media (max-width: 450px) {
  .boxProducto {
    height: 550px;
    width: 330px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .boxProducto {
    text-align: center;
    height: 180px;
  }
}

/*---- Cards mas pequeÃ±as para subcategorias (imagen, texto y carrito) ----*/
.boxProductoSub {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 20px;
  margin: 20px;
  height: 500px; 
  width: 300px; 
  background-color: #F2F2F2; 
}

@media (max-width: 450px) {
  .boxProductoSub {
    height: 550px;
    width: 330px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .boxProductoSub {
    text-align: center;
    height: 180px;
  }
}
/*-------- Boton con Imagen para Tienda MX--------*/
.btnImagen {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  background-repeat:no-repeat;
  background-position:center;
  /*height:40px;
  width:40px;*/
  margin: 6px;
  margin-top: 20px;
  align-items: center;
}

.btnImagen:hover{
  box-shadow: rgba(255, 126, 0, 1) 0px 0px 0px 2px, rgba(255, 126, 0, 2) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

@media (min-width: 950px) {
  .row1contP {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2contP {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
    /*.boxProducto {
        width: 20%;
        } */   
      }

      .hrD {
        border-top: 1px dashed #2D5680;
      }

      /*---- Div de color ----*/
      .divColor:nth-child(odd) {
        background: #EDEFF0;
      }

      .divColor:nth-child(even) {
        background: #ffffff;
      }

      .divColor2:nth-child(odd) {
        background: #ffffff;
      }

      .divColor2:nth-child(even) {
        background: #EDEFF0;
      }

/*@media screen and (max-width: 800px) {
  .imgBorde{
    width: 100%;
  }
}

CARD para subcategoria ajustada*/

.cardSubA {
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-top: 6px solid var(--blueM);
  background: #EDEFF0;
  width: 400px;
  height: 500px; 
  color: #000000;
  padding: 15px;
}

.subTitulo{
  font-size: 20px;
  font-weight: bold;
  color: #2D5680;
}

.margen{
  border-bottom: 6px solid #ff7e00; 
}

@media (max-width: 450px) {
  .cardSubA {
    height: auto;
    margin: 10px;
    width: 100%;
  }
}

/*------ CARD para Articulos ------*/
.cardArticulos {
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
  height: 400px; 
  max-width: 300px;
  /*width: 100%;*/
  color: #000000;
}
.TituloArticulo {
  text-align: center;
  font-size: 15px;
  color: #2D5680;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0px;
  padding:10px; 
}
.DesArticulo{
  text-align: justify;  
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
}

@media (max-width: 450px) {
  .cardArticulos {
    height: auto;
    margin: 10px;
    width: 330px;
  }
}
/* ----------- Boton Ver mÃ¡s ------------- */
.btnVerMas {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  vertical-align: bottom;
}

.btnVerMas:hover,
.btnVerMas:focus {
  background-color: #b3d3ea;
}

.btnVerMas:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btnVerMas:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #000000;
}

.btnVerMas a span{
  text-decoration: none;
  color: #24537B;
  font-weight: bold;
}

.btnAP {
  align-items: center;
  background-image: linear-gradient(144deg,#2D5680 , #ff7e00  50%,#2D5680 );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 86, 128, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 12px;
  justify-content: center;
  line-height: 1em;
  max-width: 70%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  cursor: pointer;
  height: 45px;
}

.btnAP:active,
.btnAP:hover {
  outline: 0;
}

.btnAP span {
  background-color: rgb(5, 6, 45);
  padding: 10px 18px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.btnAP:hover span {
  background: none;
}

@media (min-width: 768px) {
  .btnAP {
    font-size: 18px;
    min-width: 196px;
  }
}

/* CSS */
.btnEfectoA {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #2D5680;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.btnEfectoA:before {
  content: "";
  background: linear-gradient(
    45deg,
    #2D5680,
    #ff7e00,
    #2D5680,
    #FF5100,
    #2D5680,
    #ff7e00,
    #2D5680,
    #FF5100,
    #2D5680
    );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btnEfectoA 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btnEfectoA {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.btnEfectoA:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202F5B;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btnEfectoA:hover{
  background: #ffffff;
}

.cardProL{
  margin:0 30px;
  height:340px;
  width:200px;
  background-color:#fff;
}
.ProLP{
  width:100%;
  border-bottom:5px solid #FF5100;
  z-index:1;
}

.ProLP{
  height:60%;
}

/*----- card para categorias con efecto de movimiento ----------*/

.contenedorCPP {
  position: relative;
}

.contenedorCPP .cardPCateP {
  position: relative;
  width: 320px;
  height: 450px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.contenedorCPP .cardPCateP:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #24537B;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.contenedorCPP .cardPCateP:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.contenedorCPP .cardPCateP:after {
  content:  url('https://www.logicbus.com.mx/images/Logos/logo-logicbus-sm.png');
  position: absolute;
  top: 45%;
  left: 26%;
  font-size: 4em;
  font-weight: 800;
  color: #FFF4EE;
  opacity: 0.1;
}

.contenedorCPP .cardPCateP .contImgCP {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: .5s;
}

.contenedorCPP .cardPCateP:hover .contImgCP {
  top: 0%;
  transform: translateY(-25%);
}

.contenedorCPP .cardPCateP .contImgCP img {
  position: absolute;
  top: 30%;
  left: 8%;
  width: 270px;
}

.contenedorCPP .cardPCateP .contTextCP {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.contenedorCPP .cardPCateP:hover .contTextCP {
  height: 210px;
}

.contenedorCPP .cardPCateP .contTextCP h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  top: 10px;
  color: #24537B;
}

.contenedorCPP .cardPCateP .contTextCP .textCPP {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.contenedorCPP .cardPCateP:hover .contTextCP .textCPP {
  opacity: 1;
  visibility: visible;
  transition-delay: .6s;
}

.contenedorCPP .cardPCateP .contTextCP .textCPP h3 {
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.contenedorCPP .cardPCateP .contTextCP button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  opacity: 0;
  transform: translateY(50px);
  transition: .5s;
}

.contenedorCPP .cardPCateP:hover .contTextCP button {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .7s;
} 