body,
html {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
    -webkit-overflow-scrolling: touch;
    font-family: Helvetica, sans-serif;
    background-color: var(--dirty-white);
    font-family: monserrat-regular, Helvetica,
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*COLORES*/

:root {
    /*PRINCIPALES*/
    --orange: #FF5100 !important;
    --blue: #24537B !important;
    /*Naranjas*/
    --light-orange: #FF7E00 !important;
    /* GRISES*/
    --dark-gray: #707071 !important;
    --gray: #AEAFB0 !important;
    --light-gray: #D4D5D6 !important;
    --dirty-white: #EDEEF0 !important;
    --white: #FAFBFC !important;
    --light-black: #252524 !important;
    --black: #000000 !important;
    --transparent: #00000000 !important;
    /*AZULES*/
    --dark-blue: #202F5B !important;
    --shine-blue: #2373C6 !important;
    --light-blue: #5499C7 !important;
    --blue-two: #1B405B !important;
    --blue-three: #2A5C84 !important;
    --transparent-blue: rgb(6 24 44 / 70%) !important;
    /*Alternativas*/
    --red: #BC2E2C !important;
    --yellow: #FFC107 !important;
    --green: #008000 !important;
    /*Colores de las marcas*/
    /*Aicsys*/
    --aicsys-blue: #33538f;
    --aicsys-green: #c5ce3c;
    --aicsys-light-blue: #4a6fc0;
    /*Cimon*/
    --lilac: #bdaaca;
    --dark-lilac: #664f77;
}

.orange {
    color: var(--orange);
}

.blue {
    color: var(--blue);
}

.dark-gray {
    color: var(--dark-gray);
}

.gray {
    color: var(--gray);
}

.light-gray {
    color: var(--light-gray);
}

.white {
    color: var(--white);
}

.dirty-white {
    color: var(--dirty-white);
}

.light-black {
    color: var(--light-black);
}

.transparent {
    color: var(--transparent);
}

.black {
    color: var(--black);
}

.dark-blue {
    color: var(--dark-blue);
}

.shine-blue {
    color: var(--shine-blue);
}

.blue-two {
    color: var(--blue-two);
}

.blue-three {
    color: var(--blue-three--);
}

.light-blue {
    color: var(--light-blue);
}

.yellow {
    color: var(--yellow);
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

.light-orange {
    color: var(--light-orange);
}

.dark-lilac {
    color: var(--dark-lilac);
}

/*TEXTOS*/

.banner-title {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 700;
}

.maxi-text {
    font-size: 6.5rem;
    text-align: center;
    font-weight: 800;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 3%;
}

.subtitle {
    font-size: 2rem;
    font-weight: 700;
}

.concept {
    font-size: 1.8rem;
    font-weight: bold;
}

.med {
    font-size: 1.5rem;
    font-weight: bold;
}

.paragraph {
    font-size: 1.2rem;
}

.shadow-text {
    text-shadow: var(--black) 0.1em 0.1em 0.2em;
}

.shadow-form:hover {
    -webkit-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.not-active {
    color: var(--dark-gray);
    text-decoration: none;
}

.not-active:hover {
    color: var(--dark-gray);
    text-decoration: none;
}

.orange-text {
    background-color: var(--light-orange);
    color: var(--white);
    border: 5px;
    border-radius: 10px;
}

.white-text {
    position: relative;
    background: var(--white);
    padding: 15px 10px;
    width: 70%;
    text-align: center;
    border-radius: 40px;
    border: 3px solid var(--orange);
    color: var(--blue);
    margin-top: -2.5rem;
    font-weight: bold;
}

/***Estilos Listas ul li **/
.marker-orange li::marker {
    color: var(--light-orange);
}

/*FONTS*/

@font-face {
    font-family: monserrat-regular;
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}


/*SEPARADOR CIRCULAR*/

.orange-circle {
    background-color: var(--orange);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 35px;
    align-self: center;
}

.sm-orange-circle {
    background-color: var(--orange);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    align-self: center;
}

/*FORMAS/ CICULOS CON TEXTO AL CENTRO*/

.ico {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
}

.tacha {
    height: 100px;
    width: 100px;
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\02716";
        font-size: 50px;
        color: var(--light-black);
        line-height: 100px;
        text-align: center;
    }
}

.circle-orange {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5px;
    padding: 3%
}

.circle-gray {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5px;
    padding: 3%
}

.circle-blue {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5px;
    padding: 3%
}

.circle-red {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 5px;
    padding: 3%
}

.circle-text {
    color: var(--white);
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.circle-text-red {
    color: var(--white);
    font-weight: bold;
    font-size: 3rem;
}

.text-symbol {
    font-size: 3.5rem;
    font-weight: bold;
}

.headline {
    position: absolute;
    margin-top: 30px;
    transition: margin-left 0.3s;
}

.descripcion {
    text-align: center;
    margin-top: 85px;
    transition: margin-top 0.4s;
}

.circle-info {
    position: absolute;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.circle-orange:hover .circle-info,
.circle-gray:hover .circle-info,
.circle-blue:hover .circle-info {
    opacity: 1;
}

.circle-orange:hover h2,
.circle-gray:hover h2,
.circle-blue:hover h2 {
    opacity: 0;
}

.img-border {
    border-radius: 35px;
    width: 70vh;
    height: 45vh;
    max-width: 100%;
}

/*BOTONES*/
button:focus,
button:focus-visible {
    outline: none;
}

.button {
    border: none;
    color: var(--white);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    margin: 4px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 700;
    min-width: 180px;
}

.button a {
    text-decoration: none;
    color: var(--white);
}

.button-circle-orange {
    border-radius: 30px;
    background-color: var(--light-orange);
    border: 2px solid var(--light-orange);
    color: var(--white);
}

.button-circle-light-orange {
    border-radius: 30px;
    background-color: var(--light-orange);
    border: 2px solid var(--light-orange);
    color: var(--white);
}

.button-circle-blue {
    border-radius: 30px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
}

.button-circle-whiteb {
    border-radius: 30px;
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--dirty-white);
    padding: .5rem 2rem;
}

.subrayado {
    text-decoration: underline;
}

.button-circle-orange:hover {
    border-radius: 30px;
    background-color: var(--dirty-white);
    color: var(--orange);
}

.button-circle-light-orange:hover {
    border-radius: 30px;
    background-color: var(--dirty-white);
    color: var(--light-orange);
    text-decoration: none;
}

.button-circle-whiteb:hover {
    border-radius: 30px;
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
    text-decoration: none;
}

.button-circle-blue:hover {
    border-radius: 30px;
    background-color: var(--dirty-white);
    color: var(--blue);
    text-decoration: none;
}

.button-circle-white {
    border-radius: 30px;
    background-color: var(--white);
    border-bottom: 3px solid var(--light-orange);
    color: var(--light-black);
}

.button-circle-orange:hover a {
    color: var(--orange);
}

.button-circle-whiteb:hover a {
    color: var(--blue);
}

.button-circle-light-orange:hover a {
    color: var(--light-orange);
}

.button-circle-blue:hover a {
    color: var(--blue);
}

.btn-blue {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--white);
}

.btn-blue.on {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--white);
}

.btn-blue.on .ImgIcon {
    filter: hue-rotate(45deg) brightness(400%);
}

.btn-blue:hover {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--white);
}

.btn-orange {
    color: var(--white);
    background-color: var(--light-orange);
    border-color: var(--light-orange);
}

.btn-orange.on {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--white);
}

.btn-orange:hover {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--white);
}

/*Filtros*/

.gray-filter {
    transition: filter .3s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.gray-filter:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.btn-blue .ImgIcon {
    /* naranja filter: hue-rotate(174deg) saturate(400%) brightness(225%);*/
    filter: hue-rotate(45deg) brightness(400%);
}

.btn-blue:hover .ImgIcon {
    filter: hue-rotate(45deg) brightness(400%);
}

.btnIcon:hover .ImgIcon {
    filter: hue-rotate(174deg) saturate(400%) brightness(225%);
}

.activo .ImgIcon {
    filter: hue-rotate(174deg) saturate(400%) brightness(225%);
}

.ico-white {
    filter: hue-rotate(45deg) brightness(400%);
}

.button-white {
    border-radius: 0px;
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--blue);
    padding: .5rem;
}

.button-white:hover {
    border-radius: 0px;
    border: 2px solid var(--blue);
    background-color: var(--dirty-white);
    color: var(--blue);
    text-decoration: none;
}

/*Banner*/
.card-img-banner {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.intro {
    width: 100%;
}

.img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

/*LINKS*/
.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.link-white-to-orange {
    color: var(--white);
    text-decoration: none;
}

.link-white-to-orange:hover {
    color: var(--orange);
    text-decoration: none;
}

.link-orange:hover {
    color: var(--orange);
    text-decoration: none;
}

.link-orange-underline:hover {
    color: var(--light-black);
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

.link-blue-to-orange {
    color: var(--blue);
}

.link-blue-to-orange:hover {
    color: var(--orange);
}

/* SECCIONES */

.section-blue {
    background-color: var(--blue);
}

.section-orange {
    background-color: var(--orange);
}

.section-dirty-white {
    background-color: var(--dirty-white);
}

.section-white {
    background-color: var(--white);
}

.section-light-gray {
    background-color: var(--light-gray);
}

.section-orange {
    background-color: var(--orange);
}

.section-light-orange {
    background-color: var(--light-orange);
}

.section-lilac {
    background-color: var(--lilac);
}

.cont-bgorange {
    cursor: default;
}

.cont-bgorange:hover .bg-orange {
    background-color: var(--light-orange);
}

/*Formatos de carrusel*/

.carousel-cell.is-selected.is-nav-selected {
    border: 1px solid var(--orange);
}

.margin-carrousel {
    margin: 0 8em;
    text-align: center;
}

.item-carrousel-lettrer {
    height: 360px
}

.item-carrousel-16_9 {
    width: 320px;
}

/* fuera de borde*/
.margin-carrousel .flickity-prev-next-button.previous {
    left: -4em;
    background: none
}

.margin-carrousel .flickity-prev-next-button.next {
    right: -4em;
    background: none
}

/*ESTILOS ESPECIFICOS*/

.active-url {
    background-color: var(--orange);
    color: var(--white);
}

/*line-card*/
.flex-center {
    display: flex;
    justify-content: center;
}

.line-card {
    width: 80%;
}

.container-bar {
    position: relative;
    display: inline-block;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*mision-vision*/

.vision-mision {
    width: 100%;
    display: flex;
}

.mision {
    background-image: url("https://www.logicbus.com.mx/imagenes/categoria/mision-min.webp");
    background-size: cover;
}

.vision {
    background-image: url("https://www.logicbus.com.mx/imagenes/categoria/vision-min.webp");
    background-size: cover;
}

.parrafo-mision {
    margin: 10%;
    opacity: 0;
    transform: translateY(30px);
    /* Movemos el pÃ¡rrafo hacia abajo, fuera del contenedor */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.parrafo-vision {
    margin: 10%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.material-symbols-outlined {
    transform: translateY(100px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    font-family: 'Material Symbols Outlined';
    font-size: 5rem;
    color: var(--orange);
}

.vision:hover #vision-icono {
    transform: translateY(40px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.vision:hover .parrafo-vision {
    display: flex;
    transform: translateY(0);
    opacity: 1;
}

.mision:hover #mision-icono {
    transform: translateY(40px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.mision:hover .parrafo-mision {
    display: flex;
    transform: translateY(0);
    opacity: 1;
}

/*video banner*/
.card-video {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.video {
    width: 100%;
}

.video-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    background: url(https://www.logicbus.com.mx/images/vecteezy_abstract-orange-background_.png);
    background-size: cover;
    background-position: center;
    padding: 20px 0;
}

.wrap-integradores {
    width: 100%;
    height: auto;
    background: url(../assets/contacto/screen_2x.webp);
    background-size: cover;
    background-position: center;
}

.wrap-integradores-usa {
    width: 100%;
    height: auto;
    background: url(../assets/contacto/screen_2xusa.webp);
    background-size: cover;
    background-position: center;
}

.wrap-text {
    text-align: center;
    width: 50%;
}

/*Sliders*/

.flickity-button {
    background: var(--dirty-white);
    cursor: pointer;
    color: var(--blue);
}

.flickity-button:hover {
    background: var(--light-gray);
    cursor: pointer;
    color: var(--blue);
}

.novedades-carousel-cell {
    padding: 1rem 20px;
}

.categoria-carousel-cell {
    width: 300px;
    height: 250px;
    padding: 15px;
}

.categoria-carousel-cell-image {
    width: 35%;
    margin: 0 auto;
}

a.categoria-carousel-link {
    display: grid;
    place-content: center;
    text-align: center;
}

.marca-carousel-cell {
    height: 150px;
    padding: 0px 20px;
}

.marca-carousel-cell-image {
    height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

a.marca-carousel-link:hover .marca-carousel-cell-image {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*modal popup*/

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 14;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.main-popup {
    position: fixed;
    left: 0;
    top: 20vh;
    margin: 0;
    width: 100%;
    height: auto;
    border-radius: 5px;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all .5s ease;
    /*overflow: hidden;*/
    display: grid;
    place-content: center;
}

.main-popup.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
    transition: all .5s ease;
}

.popup-header {
    position: relative;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

#popup-close-button a {
    position: absolute;
    right: 10px;
    top: -30px;
    width: 22px;
    height: 22px;
}

#popup-close-button a::before {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#popup-close-button a::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: var(--white);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup-content {
    height: 500px;
    overflow: hidden;
}

.reviews-rating {
    justify-content: space-between;
    align-items: center;
}

.menu-baner {
    width: 100%;
    height: auto;
    background: url('http://ximg.es/1500x500/cccccc/');
    background-size: cover;
    background-position: center;
    padding: 15vh 0 5vh 0;
}

.horizontal-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-service {
    background: var(--transparent-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a.list-group-item.list-group-item-action {
    background-color: var(--dirty-white);
    color: var(--light-black);
}

a.list-group-item.list-group-item-action:hover {
    background-color: var(--blue);
    color: var(--dirty-white);
}

.card-pdf {
    width: 350px;
    margin-top: 1rem;
}

.card-value {
    width: 250px;
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 1rem;
    align-items: center;
    cursor: pointer;
}

.card-desc-value {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: auto;
    width: 100%;
    top: 0;
    opacity: 0;
    background-color: var(--light-black);
    overflow-y: hidden;
    transition: 0.5s ease;
    text-align: center;
    color: var(--white);
    border-radius: 1rem;
    box-shadow: rgba(255, 126, 0, 1) 0px 0px 0px 4px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 6px;
}

.card-value:hover .card-desc-value {
    padding: 5% 0%;
    opacity: 1;
    height: 100%;
}

.select-white {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 6px;
}

.select-white:hover {
    box-shadow: var(--white) 0px 0px 0px 4px, var(--white) 0px 4px 6px -1px, var(--white) 0px 1px 0px inset;
    border-radius: 6px;
}

/*calculadora oee*/

.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #235278;
}

input {
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-tape {
    width: 60vh;
    margin: 0.5rem 0.5rem;
}

.filtro-categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Iframe responsive*/

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cards-categoria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0;
}

.card-categoria {
    position: relative;
    max-width: 400px;
    max-height: 300px;
    margin: 20px 0;
}

.card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    width: 400px;
    top: 0;
    opacity: 0;
    background-color: rgb(42, 92, 132, 80%);
    overflow-y: hidden;
    transition: .5s ease;
    text-align: center;
    color: var(--white);
}

.card-categoria:hover .card-desc {
    padding: 8%;
    opacity: 1;
    height: 100%;
}

.categoria-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.card-desc hr {
    border: 1px solid var(--orange);
}

.box-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slider {
    width: 48%;
    float: left;
    margin: 30px 0;
}

.carousel-link:hover .carousel-cell-image {
    box-shadow: 0px 0px 15px 0px var(--black);
}

.marquee {
    position: relative;
    width: 1000vw;
    max-width: 100%;
    height: 30px;
    overflow-x: hidden;
    padding: 3px 0;
    background: var(--blue);
    color: white;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 110s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.icon-ind {
    width: 50px;
    margin-top: 1.5rem;
}

.sub {
    width: 300px;
    margin: 1rem 0;
}

.sub:hover {
    background-color: var(--gray);
}

/*********************Cards*****************************/
.ap-desvanecer {
    opacity: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .5s;
    background-color: rgba(0, 0, 0, .6);
    margin-right: 15px;
    margin-left: 15px;
}

.desvanecer {
    background: none;
    border: none;
    border-radius: 0;
}

.desvanecer:hover .ap-desvanecer {
    opacity: 1 !important;
    transition: opacity .5s;
}
.zoom-descubrir {
    border: none;
    border-radius: 0;
    overflow: hidden;
    width: 36vh;
    background: none;
}

.zoom-descubrir .card-img-overlay {
    opacity: 0;
    transition: opacity .5s;
    background: var(--blue);
}

.zoom-descubrir:hover .card-img-overlay {
    opacity: 1;
    transition: opacity .5s;
}

.zoom {
    border: none;
    border-radius: 0;
    overflow: hidden;
    width: 55vh;
}

.zoom .card-img {
    border-radius: 0;
    transition: transform 1s;
}

.zoom .card-img-overlay {
    background-color: #00000050;
    transition: background-color 1s;
}

.zoom:hover .card-img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 1s;
}

.zoom:hover .card-img-overlay {
    background-color: #000000be;
    transition: background-color 1s;
}

.card-sitios {
    background-color: var(--dirty-white);
    border: none;
}

.cards-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards-article .card {
    width: 300px;
    margin: 1rem;
}

.card-industry {
    width: 200px;
    height: 250px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    background: none;
}

.card-industry .card-img {
    border-radius: 0;
    transition: transform 0.5s
}

.card-industry:hover .card-img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.card-industry .bg-bluet {
    background: #2d568096;
}

.card-industry .bg-blackt {
    background: #0000009e;
}

.card-industry .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-serv {
    margin: 5vh;
    background: var(--dirty-white);
    border: 1px solid var(--blue);
    width: 600px;
    height: 43vh;
}

.card-serv:hover {
    border: 1px solid var(--orange);
}

.card-img-top.card-img-top-small {
    position: absolute;
    top: 1%;
    left: 50%;
    width: 20vh;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 1;
    border-radius: 5px;
    background: var(--dirty-white);
}

.card-serv-body {
    position: absolute;
    top: 15%;
    padding: 3rem;
}

/**************************Videos iframe de youtube responsive**************************************/
.video-responsive {
    height: 55vh;
    overflow: hidden;
    padding: 0;
    position: relative;
    max-width: 100vh;
}

.video-responsive iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*********************************************EFECTOS*****************************************************************/
.card-img-cnt {
    overflow: hidden;
    height: 182px;
}

.gray-zoom {
    overflow: hidden;
    background-color: transparent !important;
    border: 0px !important;
}

.gray-zoom:hover img {
    transform: scale(1.3);
    filter: grayscale(0);
}

.gray-zoom img {
    transition: all 1s;
    filter: grayscale(0.9);
}

.s_line {
    width: 62px;
    height: 2px;
    border-radius: 0;
    background-color: var(--light-orange);
    transition: all 1.2s;
}

.card:hover .s_line {
    width: 0px;
}

.bdorange {
    width: 100px;
    height: 100px;
    background-color: var(--light-orange);
    border-radius: 10%;
    margin: 0px auto;
    transition: transform .3s;
}

.bdorange:hover {
    transform: scale(1.1);
}

.bdorange img {
    width: 50px;
    height: 50px;
    filter: invert(100%) sepia(0%) saturate(3888%) hue-rotate(211deg) brightness(117%) contrast(101%);
}

.link-underline {
    --n: 4;
    /* adjust this to control the delay */
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to right, var(--light-orange) calc(100%/var(--n)), transparent 0 calc((var(--n) - 1)*100%/var(--n)), var(--light-orange) 0) bottom right/ calc(var(--n)*100%) 3px no-repeat;
}

.link-underline:hover {
    background-position: bottom left;
    transition: 1.5s;
    /* adjust this to control the total duration */
}

.bg-img {
    background-image: url("https://www.logicbus.com.mx/imagenes/iconos/futek/atras.png");
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.efecto-tazo .front {
    transform: perspective(600px) rotateY(0deg);

}

.efecto-tazo .back {
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;

}

.efecto-tazo:hover:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.efecto-tazo:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* FLIP CARD */
.flip-card {
    width: 70vh;
    height: 50vh;
    perspective: 2000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
}

.flip-card-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flip-card-back {
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}


/***************************************************SHAPE / BORDES*************************************************************/

.border-orange {
    border: 3px solid var(--orange);
    border-radius: 20px;
}

.border-blue {
    border: 3px solid var(--blue);
    border-radius: 20px;
}

.border-md {
    border-radius: 20px;
}

.b-top-orange {
    border-top: 5px solid var(--light-orange);
}

/****************************************************MEDIA QUERIES****************************************************/
@media only screen and (max-width: 480px) {

    body,
    html {
        overflow-x: hidden;
    }

    /*textos queries*/
    .banner-title {
        width: 100%;
        font-size: 1.8rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .paragraph {
        font-size: .8rem;
    }

    .paragraph-sm {
        font-size: .5rem;
    }

    .button {
        min-width: 150px;
    }

    .line-card {
        width: 100%;
    }

    .vision-mision {
        width: auto;
        display: block;
    }

    .vision:hover #vision-icono {
        transform: translateY(15px);
    }

    .mision:hover #mision-icono {
        transform: translateY(15px);
    }

    .marca-carousel-cell {
        width: 50%;
        display: flex;
        align-items: center;
    }

    .marca-carousel-cell-image {
        width: 90%;
    }

    .categoria-carousel-cell {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .categoria-carousel-cell-image {
        width: 40%;
    }

    .wrap-text {
        width: 80%;
    }

    .video {
        width: auto;
        height: 500px;
        object-fit: cover;
    }

    .popup-content {
        height: auto;
        width: 90%;
    }

    .popup-content img {
        width: 100%;
    }

    .main-popup {
        place-items: center;
        top: 30vh;
    }

    .reviews-rating {
        flex-direction: column;
        align-items: center;
    }

    .list-group-horizontal {
        flex-direction: column;
    }

    .maxi-text {
        font-size: 3.5rem;
    }

    .circle-orange {
        width: 5rem;
        height: 5rem;
        margin: 0;
    }

    .circle-blue {
        width: 5rem;
        height: 5rem;
        margin: 0;
    }

    .circle-gray {
        width: 5rem;
        height: 5rem;
        margin: 0;
    }

    .circle-red {
        width: 5rem;
        height: 5rem;
        margin: 0;
    }

    .concept {
        font-size: .5rem;
    }

    .circle-text {
        display: none;
    }

    .circle-text-red {
        font-size: 1rem;
    }

    .text-symbol {
        font-size: 1.8rem;
    }

    .circle-orange:hover h2,
    .circle-gray:hover h2,
    .circle-blue:hover h2 {
        opacity: 1;
    }

    .filtro-categorias {
        display: none;
    }

    .orange-circle {
        margin: 0 15px;
    }

    .slider {
        width: 100%;
    }

    .med {
        font-size: 0.8rem;
    }

    .icon-ind {
        width: 35px;
        margin-top: 1rem;
    }

    .card-industry {
        width: 100%;
        height: 100px;
    }

    .card-serv {
        height: 96vh;
    }

    .card-serv-body {
        top: 5%;
    }

    .flip-card {
        height: 37vh;
    }

    .img-border {
        height: 225px;
    }
}

/*queries especiales*/
/*TABLETAS*/
@media (min-width: 481px) and (max-width: 1020px) {
    .video {
        width: auto;
        height: 600px;
        object-fit: cover;
    }

    .circle-orange {
        width: 5rem;
        height: 5rem;
    }

    .circle-blue {
        width: 5rem;
        height: 5rem;
    }

    .circle-gray {
        width: 5rem;
        height: 5rem;
    }

    .circle-red {
        width: 5rem;
        height: 5rem;
    }

    .concept {
        font-size: .5rem;
    }

    .circle-text {
        display: none;
    }

    .circle-text-red {
        font-size: 1rem;
    }

    .text-symbol {
        font-size: 1.8rem;
    }

    .circle-orange:hover h2,
    .circle-gray:hover h2,
    .circle-blue:hover h2 {
        opacity: 1;
    }
}

@media (min-width: 576px) {

    .card-deck {
        margin-right: 0 !important;
    }
}


/*responsive carousel*/
@media only screen and (max-width: 700px) {
    .margin-carrousel .flickity-prev-next-button.previous {
        left: 0;
        Display: none
    }

    .margin-carrousel .flickity-prev-next-button.next {
        right: 0;
        Display: none
    }

    .margin-carrousel {
        margin: 0 1em;

    }

    .item-carrousel-16_9 {
        width: 95%;
    }

    .item-carrousel-lettrer {
        height: 250px;
        width: auto;
    }

    .item-carrousel-lettrer {
        height: 250px;
        width: auto;

    }

    .item-carrousel-16_9 {
        height: 90%
    }
}